@page
@model moment11.Pages.AboutModel
@{
    ViewData["Title"] = "Om sidan";

    // Date in header
    var date = DateTime.Now;
    ViewData["date"] = date.ToString("yyyy/MM/dd");
}

<div>
    <h1 class="display-4">Om</h1>
    <p>Lina Petersson heter jag som skapat denna webbplats. Bor i Landskrona med sambo och två döttrar.</p><br />
    <p>Jag läser just nu sista året på programmet Webbutveckling på distans från Mittuniversitetet i Sundsvall.</p>
</div>
