@page
@model IndexModel
@{
    ViewData["Title"] = "Startsida";

    // Date in header
    var date = DateTime.Now;
    ViewData["date"] = date.ToString("yyyy/MM/dd");
}

<div>
    <h1 class="display-4">Välkommen</h1>
    <p>Denna webbplats är skapad med hjälp av ASP.NET Core och Razor, som en del av moment 1 i kursen Webbutveckling med .NET. 
       Layouten är skapad med CSS och knappen här nedanför använder sig av JavaScript.</p><br />
    <p>På undersidan för <i>Razor</i> kan du se innehåll skapat med Razor kod och på undersidan <i>Om</i> kan du läsa mer om mig. 
       Mycket nöje!</p>
    <br />

    <h2>Gillar du sidan?</h2>
    <button id="likeBtn">Klicka här</button>
    <p id="likes"></p>
</div>
